* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color_blanco;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color_verde;
    font-size: 18px;
    text-align: justify;
}

footer p {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color_verde;
    font-size: 12px;
    text-align: center;
}

header {
    background-color: $color_verde;
    width: 100%;
}

body {
    background-color: $color_blanco;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: $color_verde;
    font-size: 40px;
}

footer {
    background-color: $color_ocre;
}

@mixin logos ($width, $height) {
    width: $width;
    height: $height;
}
