nav {
    grid-area: nav;
}

.titulo_index {
    grid-area: titulo_index;
}

.flex__titulo {
    grid-area: flex__titulo;
}

.page__recreo {
    grid-area: page__recreo;
}

.page_about {
    grid-area: page_about;
}

footer {
    grid-area: footer;
}

.recreo__logo {
    grid-area: logo;
}

.flex__titulo {
    grid-area: titulo;
}

.p_recreo {
    grid-area: p_recreo;
}

.flex__p_about {
    grid-area: p_about;
}

.foto__recreo {
    grid-area: foto;
}

.flex__img {
    grid-area: img_about;
}

.page_kids {
    grid-area: page_kids;
}

.p_kids {
    grid-area: p_kids;
}

.img_kids {
    grid-area: img_kids;
}

.flex__contacto {
    grid-area: contacto;
}

.footer__gif {
    grid-area: gif;
}

.footer__favicon {
    grid-area: favicon;
}