.page_kids {
    grid-area: page_kids;
}

.p_kids {
    grid-area: p_kids;
}

.img_kids {
    grid-area: img_kids;
}

.page_kids {
    @extend.page_about;
    grid-template-areas: "titulo""p_kids""img_kids";

    @media (min-width:992px) {
        grid-template-areas: "titulo titulo""p_kids img_kids";
    }
}