.page_tb{
    grid-area: page_teamb;
}

.p_teambuilding{
    grid-area: p_teamb;
}

.img_tb {
    grid-area: img_tb;
}

.page_tb {
    @extend.page_about;
    grid-template-areas: "titulo""p_teamb""img_tb";

    @media (min-width:992px) {
        grid-template-areas: "titulo titulo""p_teamb img_tb";
    }
}