.page_w{
    grid-area: page_w;
}

.p_workshop{
    grid-area: p_work;
}

.img_w {
    grid-area: img_w;
}

.body_w {
    min-height: 500px;
    display: grid;
    grid-template-areas: "nav""titulo""page_w""footer";
    grid-template-columns: 100%;
    justify-content: center;
    gap: 10px;
}

.page_w {
    @extend.page_about;
    grid-template-areas: "titulo""p_work""img_w";

    @media (min-width:992px) {
        grid-template-areas: "titulo titulo""p_work img_w";
    }
}