@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200&display=swap');
@import "colores";
@import "generales";
@import "media";
@import "gridareas";


.grilla {
    min-height: 500px;
    display: grid;
    grid-template-areas: "nav""page__recreo""footer";
    grid-template-columns: 100%;
    justify-content: center;
    gap: 10px;
}

.body {
    min-height: 500px;
    display: grid;
    grid-template-areas: "nav""flex__titulo""page_about""footer";
    grid-template-columns: 100%;
    justify-content: center;
    gap: 10px;
}

.body_kids {
    @extend.body;
    grid-template-areas: "nav""flex__titulo""page_kids""footer";

}

ul {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex__titulo {
    display: flex;
    padding: 100px;
    padding-bottom: 50px;
    justify-content: center;
}

.recreo__index {
    @include logos (100px, 100px);
    display: flex;
    align-content: center;
}
